@page "/"

<PageTitle>Universidad</PageTitle>

<h1 class="align-center">Bienvenido a la página de administración de la Universidad</h1>
<br />
Aquí puedes eliminar, crear y editar a los maestros, las asignaturas y las aulas que existen dentro de la Universidad.
